# OSX.
.DS_Store

# Pycharm.
.idea/
pycharm/

# Pydev.
.project
.pydevproject

# Eclipse.
.settings/

# Archivos compilados de python.
*.pyc

# Windows thumbs.
Thumbs.db

# Archivos residuales de VIM.
*.swp

# Archivos resultantes de la compilación de LaTeX.
*.aux
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.tex
*.toc

# Archivos de gráficos
graphs.py

# Resultados
resultados.xlsx
